/* LoginPage.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    color: #005074;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .login-box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #005074;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #005074;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .login-container {
      padding: 10px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    button {
      font-size: 16px;
    }
  }
  