/* Quita estilos globales */
.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
  color: #005074;
  font-family: Arial, sans-serif;
}

.registration-box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

.registration-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.registration-box .input-group {
  margin-bottom: 15px;
  width: 100%;
}

.registration-box label {
  margin-bottom: 5px;
  display: block;
}

.registration-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-box button {
  padding: 10px;
  background-color: #005074;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.registration-box button:hover {
  background-color: #004060;
}

/* Responsive styles */
@media (max-width: 600px) {
  .registration-container {
    padding: 10px;
  }

  .registration-box h2 {
    font-size: 24px;
  }

  .registration-box button {
    font-size: 16px;
  }
}
