/* RegistrationPage.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .registration-container {
    display: flex;
    height: 100vh; /* Full viewport height */
    color: #005074;
  }
  
  .image-section {
    flex: 1; /* Takes half of the container */
    background-image: url('../assets/login.png');
    background-size: cover;
    background-position: center;
  }
  
  .form-section {
    flex: 1; /* Takes half of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4; /* Background color for form section */
  }
  
  .registration-box {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #005074;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #005074;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .registration-container {
      flex-direction: column; /* Stack on smaller screens */
    }
  
    .image-section {
      height: 50vh; /* Set height for mobile view */
    }
  
    .form-section {
      height: auto; /* Auto height for mobile view */
      padding: 10px; /* Add some padding */
    }
  
    .registration-box {
      width: 100%; /* Full width for smaller screens */
    }
  }
  